<link rel="stylesheet" href="/css/styles.css">
<footer class="mt-5">
  <div class="foot d-flex justify-content-around pt-4 pb-4">
    <div class="contact-1">
      <p>Mail</p>
      <p>Instagram</p>
      </div>
      <div class="contact-2">
      <p>LinkedIn</p>
      <p>Github</p>
    </div>
  </div>
  <div class="copy text-center pb-4">
    <h4>Copyrights reserved © </h4>
  </div>
</footer>